TestProject/Service References/EspecialidadService/Especialidades.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Especialidades" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7175/Especialidades.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7175/Especialidades.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7175/Especialidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjectRest.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEspecialidades_CrearEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_CrearEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_ObtenerEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_ObtenerEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_ObtenerNombreEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNombreEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_ObtenerNombreEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNombreEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_ModificarEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_ModificarEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_EliminarEspecialidad_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEspecialidad" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_EliminarEspecialidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEspecialidadResponse" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_ListarEspecialidades_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEspecialidades" />
  </wsdl:message>
  <wsdl:message name="IEspecialidades_ListarEspecialidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEspecialidadesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEspecialidades">
    <wsdl:operation name="CrearEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IEspecialidades/CrearEspecialidad" message="tns:IEspecialidades_CrearEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEspecialidades/CrearEspecialidadResponse" message="tns:IEspecialidades_CrearEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IEspecialidades/ObtenerEspecialidad" message="tns:IEspecialidades_ObtenerEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEspecialidades/ObtenerEspecialidadResponse" message="tns:IEspecialidades_ObtenerEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNombreEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IEspecialidades/ObtenerNombreEspecialidad" message="tns:IEspecialidades_ObtenerNombreEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEspecialidades/ObtenerNombreEspecialidadResponse" message="tns:IEspecialidades_ObtenerNombreEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IEspecialidades/ModificarEspecialidad" message="tns:IEspecialidades_ModificarEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEspecialidades/ModificarEspecialidadResponse" message="tns:IEspecialidades_ModificarEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEspecialidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IEspecialidades/EliminarEspecialidad" message="tns:IEspecialidades_EliminarEspecialidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEspecialidades/EliminarEspecialidadResponse" message="tns:IEspecialidades_EliminarEspecialidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEspecialidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IEspecialidades/ListarEspecialidades" message="tns:IEspecialidades_ListarEspecialidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEspecialidades/ListarEspecialidadesResponse" message="tns:IEspecialidades_ListarEspecialidades_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEspecialidades" type="tns:IEspecialidades">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IEspecialidades/CrearEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IEspecialidades/ObtenerEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNombreEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IEspecialidades/ObtenerNombreEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IEspecialidades/ModificarEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEspecialidad">
      <soap:operation soapAction="http://tempuri.org/IEspecialidades/EliminarEspecialidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEspecialidades">
      <soap:operation soapAction="http://tempuri.org/IEspecialidades/ListarEspecialidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Especialidades">
    <wsdl:port name="BasicHttpBinding_IEspecialidades" binding="tns:BasicHttpBinding_IEspecialidades">
      <soap:address location="http://localhost:7175/Especialidades.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>