TestProject/Service References/EspecialidadService/Especialidades2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectRest.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectRest.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Co_Especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="No_Especialidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Especialidad" nillable="true" type="tns:Especialidad" />
  <xs:complexType name="ArrayOfEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Especialidad" nillable="true" type="tns:Especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidad" nillable="true" type="tns:ArrayOfEspecialidad" />
</xs:schema>