TestProject/Service References/EspecialidadService/Especialidades1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7175/Especialidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjectRest.Dominio" />
  <xs:element name="CrearEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjectRest.Dominio" minOccurs="0" name="CrearEspecialidadResult" nillable="true" type="q1:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProjectRest.Dominio" minOccurs="0" name="ObtenerEspecialidadResult" nillable="true" type="q2:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombreEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombreEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNombreEspecialidadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProjectRest.Dominio" minOccurs="0" name="ModificarEspecialidadResult" nillable="true" type="q3:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEspecialidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspecialidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspecialidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProjectRest.Dominio" minOccurs="0" name="ListarEspecialidadesResult" nillable="true" type="q4:ArrayOfEspecialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>